.Home{
    font-size: 45px;
}
.navbar{
    font-size: 20px;
}
p{
    font-size: small;
}
h7{
font-size: 10px;
line-height: 0px;
}
.introContainer{
    border-radius: 15px;
    background-color: aqua;
}